<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.1/phpunit.xsd"
         bootstrap="../../../include/load_config.php"
         colors="true"
         verbose="true">
  <testsuites>
    <testsuite name="base">
      <directory suffix="Test.php">../tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="PHPUNIT_ROGO_TESTSUITE" value="true"/>
    <ini name="error_reporting" value="E_ALL" />
    <ini name="display_errors" value="On" />
    <ini name="display_startup_errors" value="On" />
  </php>
</phpunit>